@import "fonts.scss";
@import "../css/reset";
.main-page {
	  background: url('assets/images/bg1.png') no-repeat 50% 0%/contain;
	  background-size: 60vmax;
	  height: 100vh;
	  padding-top: 55px;
}
.display {
	resize: none;
	display: flex;
	width: 46%;
	margin: 0 auto;
	line-height: 1.2;
	font-family: Arial, sans-serif;
	font-size: 36px;
	font-weight: 500;
	height: 42%;
	min-height: 300px;
	font-size: 24px;
	background-color: transparent;
}


.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: transparent;
  user-select: none; // disable copy text
  -webkit-tap-highlight-color: transparent;
  transform-origin: bottom;
  transform: scaleY(1);
  transition: 0.4s;
	&.inactive {
		transform: scaleY(0);
	}
	.btnWrapper {
		text-align: left;
		max-width: 1400px;
		margin: 0 auto;
		background-color: rgba(33,75,92,1);
		border-radius: 20px;
		// display: flex;
		// flex-wrap:wrap;
		// justify-content: center;
		text-align: center;
		padding: 20px 60px;	
	}
	.button {
		height: 65px;
		width: 75px;
		margin: 3px;
		border-radius: 4px;
		background-color: #C1E3FB;
		 box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #4E7FBB;
		color: #000;
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align: top;
		padding: 0;
		position: relative;
		transition: 0.3s;
		font-family: Arial, sans-serif;
		font-size: 26px;
		font-weight: 700;
		transition: all 0.1s;
		&.enter {
			background: #C1E3FB url("assets/images/enter.png") no-repeat 50%/contain;
		}
		&.backspace {
			background: #C1E3FB url("assets/images/backspace.png") no-repeat 50%/contain;
		}
		&.tab {
			width: 120px;
			background: #C1E3FB url("assets/images/tab.png") no-repeat 50%/contain;
		}
		&.shift {
			transition: all 0.3s;
			background: #C1E3FB url("assets/images/shift.png") no-repeat 50%/contain;
			&.button_switch {
				transition: all 0.3s;
				background-color: #A0F9B1;
			}
		}
		&.sound {
			transition: all 0.3s;
			background: #A0F9B1 url("assets/images/sound.png") no-repeat 50%/contain;
			background-size: 60%;
			&.active {
				background: #FD9D9D url("assets/images/nosound.png") no-repeat 50%/contain;
				background-size: 60%;
			}
		}
		&_lang {
			background: #C1E3FB url("assets/images/en.png") no-repeat 50%/contain;
			}
		&_speech {
			background: #EAFBFD url("assets/images/mic.png") no-repeat 50%/contain;
			&.active {
				animation: mic 1.5s linear infinite alternate;
				@keyframes mic {
					50% {background-color: #DE5656}
				}
			}
		}
		&_wide {
			 width: 140px;
			 text-transform: uppercase;
			 font-size: 22px;
		}
		&_widest {
			width: 425px;
			background: #C1E3FB url("assets/images/space.png") no-repeat 50%/contain;
		}
		&_switch {
			width: 140px;
			transition: all 0.3s;
			background-color: #A0F9B1;
		}
		&_active::after {
			background: #08ff00;
		}
		&_accept {
			background: #EAFBFD url("assets/images/done.png") no-repeat 50%/contain;
			background-size: 30%;
		}
		&:active {
			transform: translate(2px, 2px);
			background-color: #5183B2;
		}
	}
}

@media (max-width: 1401px) {
	.main-page {
	 padding-top: 40px;
	}
	.display {
		height: 30%;
	}
	.keyboard {
		.btnWrapper {
			max-width: 95%;
			padding: 20px 5px;
		}
		.button {
			width: 6%;
			height: 60px;
			&_wide {
				width: 10%;
			}
			&_widest {
				width: 45%;
			}
		}
	}
}
@media (max-width: 1150px) {
	.main-page {
		padding-top: 25px;
	}
	.display {
		height: 20%;
	}
	.keyboard {
		.button {
			width: 5%;
			height: 45px;
			font-size: 18px;
			&_wide {
				width: 10%;
			}
		}
	}
}

@media (max-width: 950px) {
	.main-page {
		padding-top: 25px;
		background-size: 100%;
	}
	.display {
		height: 250px;
		width: 100%;
		line-height: 1.2;
		padding: 0 11%;
	}
	.keyboard {
		.button {
			width: 5%;
			height: 40px;
			font-size: 18px;
			&_wide {
				width: 10%;
			}
			&.tab {
				width: 80px;
			}
			&_widest {
				width: 35%;
			}
		}
	}
}
@media (max-width: 768px) {
	.main-page {
		background: none;
	}
	.display {
		width: 90%;
		border: 5px solid #214b5c;
		background-color: rgba(33,75,92, 0.2);
		padding: 15px; 
		border-radius: 15px;
	}
	.keyboard {
		.button {
			width: 5%;
			height: 30px;
			font-size: 16px;
			&_wide {
				width: 12%;
				font-size: 12px;
			}
			&_widest {
				width: 30%;
			}
			&.tab {
				width: 60px;
			}
		}
	}
}

@media (max-width: 576px) {
	.keyboard .button {
		width: 4.5%;
		height: 20px;
		&_wide {
			width: 10%;
			font-size: 10px;
		}
		&_widest {
			width: 30%;
		}
		&.tab {
			width: 50px;
		}
	}
}
@media (max-width: 350px) {
	.keyboard .button {
		font-size: 12px;
		&_wide {
			width: 8%;
			font-size: 6px;
		}
	}
}