@import "fonts.scss";
@import "../css/reset";

.display {
  display: flex;
  border: 1px solid #000;
  width: 90%;
  margin: 30px auto;
  padding: 10px;
  line-height: 1;
  font-family: Arial, sans-serif;
	font-size: 36px;
	font-weight: 500;
  height: calc(100vh - 380px);
  min-height: 300px;
  font-size: 24px;
}


.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: #cacaca;
  user-select: none; // disable copy text
  -webkit-tap-highlight-color: transparent;
  transform-origin: bottom;
  transform: scaleY(1);
  transition: 0.4s;
	&.inactive {
		transform: scaleY(0);
	}
	.btnWrapper {
		text-align: center;
		max-width: 1400px;
		margin: 0 auto;
	
	}
	.button {
		height: 65px;
		width: 70px;
		margin: 3px;
		border-radius: 4px;
		background-color: rgba(105,105,105, 1);
		color: #000;
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align: top;
		padding: 0;
		position: relative;
		transition: 0.3s;
		font-family: Arial, sans-serif;
		font-size: 28px;
		font-weight: 700;
		transition: all 0.3s;
		&:active {
			transform: translate(2px, 2px);
			background: #fff;
			color: #000;
		}
		&.enter {
			background: rgba(105,105,105, 1) url("assets/images/enter.png") no-repeat 50%/contain;
		}
		&.tab {
			width: 120px;
			background: rgba(105,105,105, 1) url("assets/images/tab.png") no-repeat 50%/contain;
		}
		&.shift {
			transition: all 0.3s;
			background: rgba(105,105,105, 1) url("assets/images/shift.png") no-repeat 50%/contain;
			&.button_switch {
				transition: all 0.3s;
				background-color: #fff
			}
		}
		&_lang {
			background: rgba(105,105,105, 1) url("assets/images/en.png") no-repeat 50%/contain;
		}
		&_wide {
			 width: 160px;
		}
		&_widest {
			width: 425px;
		}
		&_switch {
		}
		&_active::after {
			background: #08ff00;
		}
		&_accept {
			background: green;
		}
	}
}




